# Node.js
node_modules
npm-debug.log*
.yarn-integrity

# Next.js
.next
.vercel

# Environment variables
.env.local
.env

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln.docstates
*.dotsettings
*.dotsettings.user
*.sublime-project
*.sublime-workspace